body {
    background-image: url('images/landing\ page.jpg');
    background-repeat: no-repeat;
    background-position:initial;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center;  */
}

/* @keyframes scroll-text{
    0% {transform: translateX(100%);}
    100%{ transform: translateX(-100%);}

} */
.welcome {
    
    padding: 15px;
    margin-bottom: 200px;
    align-self: center;
}

.welcome h1 {
    /* align-self: center; */
    
    
    /* animation: scroll-text 20s linear infinite; */
    color:rgb(0, 255, 81);
    font-size: 5rem;
    
} 

.explore{
    margin-top: 100px;
    align-self: center;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
}
.explore a{
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 3rem;

}